.textGradient {
  background: linear-gradient(
    90deg,
    #ff3363 0%,
    #ffe464 48.99%,
    #ffe664 49%,
    #f8e766 49.01%,
    #00ffa2 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media(min-width:500px){
  .dNone{
    display: none !important;
  }
  .dBlock{
    display: block !important;
  }
}