/* HobbiesSelector.module.css */


  
  
  .customRadio input {
    display: none;
  }
  
  .radioBtn {
    margin: 10px;
    width: 220px;
    height: 240px;
    border: 3px solid transparent;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    text-align: center;
    box-shadow: 0 0 20px #c3c3c367;
    cursor: pointer;

  }
  .radioBtn:hover{
    border: 2px solid #FFDAE9;
    
  }
  
  .radioBtn > i {
    color: #ffffff;
    background-color: #FFDAE9;
    font-size: 20px;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%) scale(2);
    border-radius: 50px;
    padding: 3px;
    transition: 0.5s;
    pointer-events: none;
    opacity: 0;
  }
  
  .radioBtn .hobbiesIcon {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .radioBtn .hobbiesIcon img {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .radioBtn .hobbiesIcon i {
    color: #FFDAE9;
    line-height: 80px;
    font-size: 60px;
  }
  
  .radioBtn .hobbiesIcon h3 {
    color: #555;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .customRadio input:checked + .radioBtn {
    border: 2px solid #FFDAE9;
  }
  
  .customRadio input:checked + .radioBtn > i {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
  