@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("PlusJakartaSans-Light"),
    url("/fonts/PlusJakartaSans-Light.ttf") format("woff2");
}
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("PlusJakartaSans-Regular"),
    url("/fonts/PlusJakartaSans-Regular.ttf") format("woff2");
}
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("PlusJakartaSans-Medium"),
    url("/fonts/PlusJakartaSans-Medium.ttf") format("woff2");
}

@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("PlusJakartaSans-SemiBold"),
    url("/fonts/PlusJakartaSans-SemiBold.ttf") format("woff2");
}

@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("PlusJakartaSans-Bold"),
    url("/fonts/PlusJakartaSans-Bold.ttf") format("woff2");
}

@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("PlusJakartaSans-ExtraBold"),
    url("/fonts/PlusJakartaSans-ExtraBold.ttf") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth !important;
  scrollbar-width: thin !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
  line-height: 1.2;
  color: #545d72;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: 1.5rem;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.mainWrapperFirstTimeBuyer {
  min-height: calc(100vh - 72px);
}

.rectSelectWrapper * {
  cursor: pointer;
}

/* ======== custom react select style============== */
.rectSelectWrapper .css-13cymwt-control,
.rectSelectWrapper .css-t3ipsp-control {
  padding: 8px 14px;
  border: 1px solid #8e97a6;
  width: 100%;
  line-height: 1.25;
  color: #8e97a6;
  appearance: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  min-height: 54px;
  border-radius: 12px;
}
.rectSelectWrapper .css-qbdosj-Input,
.rectSelectWrapper .css-1dimb5e-singleValue {
  color: #8e97a6;
}
.rectSelectWrapper .css-13cymwt-control:hover,
.rectSelectWrapper .css-t3ipsp-control:hover,
.rectSelectWrapper .css-t3ipsp-control:focus {
  border: 1px solid #001b44;
}

.rectSelectWrapper .css-1u9des2-indicatorSeparator {
  display: none;
}

/* ======custom react select style=============== */
.firstTab .nav-link {
  color: #b7bcc3;
}

.active {
  background-color: transparent !important;
  color: #001b44 !important;
  font-weight: 700 !important;
}

.firstTab .tabText {
  border: 1px solid #b7bcc3;
  width: 24px;
  height: 24px;
  border-radius: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  font-size: 14px;
}
.firstTab .active .tabText {
  background-color: #001b44;
  color: #fff;
}
.firstTab .vehicleNav .nav-item {
  margin-right: 10px;
}
.vehicleTab {
  margin-bottom: 20px;
}
.vehicleTab a {
  border-radius: var(--Number-96, 96px) !important;
  border: 3px solid var(--dark-dark_6, #e5e8ed);
  margin-right: 16px;
  padding: 10px 26px;
  text-align: center;
}
.vehicleTab .active {
  background-color: #001b44 !important;
  color: #fff !important;
}
.detailSelect select {
  background: transparent;
}
.detailSelect select label {
  text-indent: 0;
}

.active {
  background-color: transparent !important;
  color: #001b44 !important;
  font-weight: 700 !important;
}

.tabText {
  border: 1px solid #b7bcc3;
  width: 24px;
  height: 24px;
  border-radius: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  font-size: 14px;
}
.active .tabText {
  background-color: #001b44;
  color: #fff;
}

.slickSliderWrapper .slick-track {
  display: flex !important;
  gap: 12px;
  align-items: stretch;
}

.slickSliderWrapper .slick-slide {
  height: inherit !important;
}

.slickSliderWrapper .slick-slide > div {
  height: 100%;
  width: 282px;
}

.slickSliderWrapper .slick-current .sliderItem {
  background: linear-gradient(
    90deg,
    rgb(0, 255, 162) 0%,
    rgb(255, 230, 100) 100%
  );
}

.slickSliderWrapper .slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
  bottom: 22px;
}

.slickSliderWrapper .slick-dots li {
  margin: 0 0.25rem;
  width: auto;
  height: auto;
  display: inline-block;
}

.slickSliderWrapper .slick-dots button {
  display: block;
  width: 9px;
  height: 9px;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: #b7bcc3;
  text-indent: -9999px;
}

.slickSliderWrapper .slick-dots li.slick-active button {
  background-color: #001b44;
  width: 12px;
  height: 12px;
}
.slickSliderWrapper .slick-track {
  margin-bottom: 90px;
}

.slickSliderWrapper .slick-arrow {
  width: 36px;
  height: 36px;
  cursor: pointer;
  font-size: 0px;
  z-index: 99;
  line-height: 0px;
  border: none;
  background-color: transparent;
  position: absolute;
  transform: translateY(-30%);
  -webkit-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  /* border: 1px solid #fff; */
  border-radius: 50%;
  top: 40%;
}
.slickSliderWrapper .slick-arrow::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M13.4779 10.8333H3.33203V9.16658H13.4779L8.8112 4.49992L9.9987 3.33325L16.6654 9.99992L9.9987 16.6666L8.8112 15.4999L13.4779 10.8333Z' fill='%230A1835'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}
.slickSliderWrapper .slick-next {
  background: linear-gradient(90deg, #00ffa2 0%, #ffe664 100%) !important;
  right: -35px;
}
.slickSliderWrapper .slick-prev {
  background-color: #fff !important;
  left: -35px;
}
.slickSliderWrapper .slick-prev::before {
  transform: rotate(180deg) translate(50%, 35%) !important;
}

.filterWrapper .css-13cymwt-control {
  display: none;
}
.selectLabelWrapper label {
  width: 100%;
}

.accordionWrapper [data-state="open"] > .ArrowRight {
  transform: rotate(90deg) !important;
  transition: 0.3s ease;
}

.gradientTextContent {
  background: linear-gradient(
    90deg,
    #ff3363 0%,
    #ffe464 48.99%,
    #ffe664 49%,
    #f8e766 49.01%,
    #00ffa2 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradientTextContent2 {
  background: linear-gradient(90deg, #00ffa2 20%, #ff3363 36.01%, #ffe464 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*================== task list css after and before================== */

.fundDeal li::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 25px;
  border-radius: 50px;
  border: 3px solid #e5e8ed;
  background: white;
}
.fundDeal li:first-of-type:before {
  border: 3px solid #001b44;
}
.triangle {
  position: absolute;
  top: 30px;
  left: 47%;
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #00ffa2;
}

.skeleton-box {
  position: relative;
  overflow: hidden;
  background-color: #e2e8f0;
}

.skeleton-box {
  position: relative;
  overflow: hidden;
  background-color: #e2e8f0;
}
.skeleton-box::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );
  animation: animationWorkflow 3s infinite;
  content: "";
}
@keyframes animationWorkflow {
  100% {
    transform: translateX(100%);
  }
}

.skeleton-box {
  position: relative;
  overflow: hidden;
  background-color: #e2e8f0;
}

.skeleton-box {
  position: relative;
  overflow: hidden;
  background-color: #e2e8f0;
}
.skeleton-box::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );
  animation: animationWorkflow 3s infinite;
  content: "";
}


@keyframes animationWorkflow {
  100% {
    transform: translateX(100%);
  }
}

@media (min-width: 576px) {
  .slickSliderWrapper .slick-slide > div {
    height: 100%;
    width: auto;
  }
}
@media (min-width: 992px) {
  .mainWrapperFirstTimeBuyer {
    min-height: calc(100vh - 102px);
  }
  .firstTimeBuyerContainerWrapper {
    min-height: calc(100vh - 230px);
  }
  .slickSliderWrapper .slick-track {
    gap: 18px;
  }
  .fundDeal li::before {
    left: 10px;
  }
  .slickSliderWrapper .slick-prev {
    left: -30px;
  }
  .slickSliderWrapper .slick-next {
    right: -35px;
  }
  .slickSliderWrapper .slick-arrow {
    top: 38%;
  }
  .slickSliderWrapper .slick-arrow:hover {
    opacity: 0.7;
  }
}
@media (min-width: 1200px) {
  .slickSliderWrapper .slick-prev {
    left: -35px;
  }
  .slickSliderWrapper .slick-next {
    right: -40px;
  }
}
@media (min-width: 1400px) {
  .slickSliderWrapper .slick-arrow {
    width: 56px;
    height: 56px;
  }
  .slickSliderWrapper .slick-next {
    right: -55px;
  }
  .slickSliderWrapper .slick-prev {
    left: -55px;
  }
  .slickSliderWrapper .slick-arrow::before {
    width: 20px;
    height: 20px;
  }
  .slickSliderWrapper .slick-prev::before {
    transform: rotate(180deg) translate(40%, 43%) !important;
  }
}
@media (min-width: 1600px) {
  .slickSliderWrapper .slick-next {
    right: -70px;
  }
  .slickSliderWrapper .slick-prev {
    left: -70px;
  }
 
 
}
