@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("PlusJakartaSans-Light"),
    url("/fonts/PlusJakartaSans-Light.ttf") format("woff2");
}
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("PlusJakartaSans-Regular"),
    url("/fonts/PlusJakartaSans-Regular.ttf") format("woff2");
}
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("PlusJakartaSans-Medium"),
    url("/fonts/PlusJakartaSans-Medium.ttf") format("woff2");
}

@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("PlusJakartaSans-SemiBold"),
    url("/fonts/PlusJakartaSans-SemiBold.ttf") format("woff2");
}

@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("PlusJakartaSans-Bold"),
    url("/fonts/PlusJakartaSans-Bold.ttf") format("woff2");
}

@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("PlusJakartaSans-ExtraBold"),
    url("/fonts/PlusJakartaSans-ExtraBold.ttf") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth !important;
  scrollbar-color: #00ffa2 #ffffff !important;
  scrollbar-width: thin !important;
}

::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
}

::-webkit-scrollbar-thumb {
  background: #00ffa2;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #01ae9b;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
  line-height: 1.2;
  color: #545d72;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: 1.5rem;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
}

.mainWrapperFirstTimeBuyer {
  min-height: calc(100vh - 72px);
}

.rectSelectWrapper * {
  cursor: pointer;
}
.rectSelectWrapper .css-13cymwt-control,
.rectSelectWrapper .css-t3ipsp-control {
  padding: 8px 14px;
  border: 1px solid #8e97a6;
  width: 100%;
  line-height: 1.25;
  color: #8e97a6;
  appearance: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  min-height: 54px;
  border-radius: 12px;
}
.rectSelectWrapper .css-qbdosj-Input,
.rectSelectWrapper .css-1dimb5e-singleValue {
  color: #8e97a6;
}
.rectSelectWrapper .css-13cymwt-control:hover,
.rectSelectWrapper .css-t3ipsp-control:hover,
.rectSelectWrapper .css-t3ipsp-control:focus {
  border: 1px solid #001b44;
}
.rectSelectWrapper .css-1u9des2-indicatorSeparator {
  display: none;
}
.active{
  background-color: transparent !important;
  color: #001B44 !important;
  font-weight: 700 !important;
}
/* .activeTabs{
  background-color: #00ffa2;
} */
.firstTab .tabText{
 border: 1px solid #B7BCC3;
 width: 24px;
 height: 24px;
 border-radius: 100px;
 display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    font-size: 14px;
}
.firstTab .active .tabText{
  background-color: #001B44;
  color: #fff;
}
.firstTab .vehicleNav .nav-item{
  margin-right: 10px;
}
.vehicleTab{
  margin-bottom: 20px;
}
.vehicleTab a{
  border-radius: var(--Number-96, 96px) !important;
  border: 3px solid var(--dark-dark_6, #E5E8ED);
  margin-right: 16px;
  padding: 10px 26px;
text-align: center;
}
.vehicleTab .active{
  background-color: #001B44 !important;
  color: #fff !important;
}
.detailSelect select{
  background: transparent;
}

.active{
  background-color: transparent !important;
  color: #001B44 !important;
  font-weight: 700 !important;
}

.tabText{
 border: 1px solid #B7BCC3;
 width: 24px;
 height: 24px;
 border-radius: 100px;
 display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    font-size: 14px;
}
.active .tabText{
  background-color: #001B44;
  color: #fff;
}
.vehicleNav .nav-item{
  margin-right: 10px;
}
.homePage{
  min-height: 70vh;
  position: relative;

}
.footerBox{
  /* position: absolute;
  bottom: 0; */
  display: flex;
  text-align: end;
    width: 100%;
    border-top: 1px solid var(--dark-dark_6, #E5E8ED);
    background: var(--primary-white, #FFF);
    justify-content: end;
    padding: 30px 158px 30px;
    margin-top: 30px;
}
.formSelect .border{
  display: inline-block;
  margin-bottom: 20px;
}
.formSelect .form-check-input:checked {
  background-color: #00FFA2 !important;
  border-color: #00FFA2;
}

@media (min-width: 992px) {
  .mainWrapperFirstTimeBuyer {
    min-height: calc(100vh - 102px);
  }
  .firstTimeBuyerContainerWrapper {
    min-height: calc(100vh - 230px);
  }
}
@media (max-width: 767px) {
  .firstTab .vehicleNav {
    flex-direction: row !important;
       width: 500px;
       overflow: scroll;
  }
  .vehicleTab a{
    padding: 9px 16px;
    margin-right: 5px;
  }
  .homePage{
    height: 100%;

  }
  .footerBox{
    position: inherit;
    padding: 30px;
    margin-top: 30px;
  }
  .heading{
    margin-top: 30px !important;
}
}

